.App {
  /* text-align: center; */
  font-family: Playfair Display;
  color: #301e4e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.closebtn {
  background: #e7d7f6;
}
.closebtn:hover {
  cursor: pointer;
}
.nav-list-item span {
  text-align-last: left;
  font-size: 3rem;
  font-family: Playfair Display;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: #301e4e !important;
  color: white !important;
}
.home-wrapper img {
  height: 93vh;
}
.extensive-container {
  background-color: rgba(255, 255, 255, 0.44);
}
.font-src {
  font-family: Source Sans Pro !important;
}
.bg-theme {
  background-color: #301e4e !important;
  color: #e2daeb !important;
}
.blob-svg {
  left: -5rem;
  top: -8rem;
}
.red-theme-color {
  color: #ff6e6c;
}
.star-buck-img {
  height: auto;
  /* max-width: 49%; */
}
.star-bucks-container {
  width: 45%;
}
.progresbar {
  text-align: -webkit-center;
}
